/* Effect for Video - from Ravi's */
video:focus {
  outline: none;
}
/* Section End */

.stickyNavBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100000000000000000000;
}

.sticky .mainSticky li button {
  color: #1a265c !important;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.sticky .topSticky li a {
  color: #617eff !important;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.sticky .topSticky li a {
  color: #617eff !important;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.sticky div nav {
  background: #fff !important;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.sticky div nav div a img {
  display: none;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

#stickyLogo {
  height: 3.5rem;
  width: 216px;
  margin: 0 0.75rem 0 0;
}

.defaultLogo {
  background: url("../tools/images/svg/logo__02.svg") no-repeat;
}

.scrollLogo {
  background: url("../tools/images/svg/logo__01.svg") no-repeat !important;
}

@media only screen and (min-width: 640px) {
  #stickyLogo {
    height: 4.5rem;
  }
}

/* Section End */

/* Text Selection Effect - from Ravi's */
::-moz-selection {
  /* Code for Firefox */
  color: #3e5bdb;
  background: #dfe3f6;
}

::selection {
  color: #3e5bdb;
  background: #dfe3f6;
}
/* Section End - from Ravi's */

/* BootStrap carousel indicators feature - from Ravi's */
@media only screen and (max-width: 768px) {
  .r-maximum {
    width: 100%;
  }
}
/* Section End */

/* BootStrap carousel indicators feature - from Ravi's */
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  background: #f3f5fc;
  border-radius: 50%;
  border: 0 !important;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.carousel-indicators .active {
  width: 45px !important;
  height: 10px !important;
  background: #f3f5fc;
  border-radius: 15px;
  border: 0 !important;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}
/* Section End */
